    <form action="/send-form" method="POST">
        <input class="usernameclass" name="usernamename" id="usernameid"/>
        <input name="email" type="email" />
        <select name="city">
            <option value="paris">Paris</option>
            <option value="lyon">Lyon</option>
            <option value="marseille">Marseille</option>
        </select>
        <textarea name="description"></textarea>
        <button type="submit">Send</button>
    </form>
